*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    overflow: hidden;
    background-color: black;
    opacity: ;
    padding: 6px 0px;
    position: fixed;
    z-index: 2;
}
header h1{
    margin-right: 48px;
    color:orangered;
}s
nav{
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
}

nav li{
    list-style-type: none;
    float: left;
    margin-top: 2px;
    width: 25%;
    text-align: center;
}
nav a{
    font-size: 16px;
    display: block;
    text-decoration: none;
    color: white;
    margin: 14px 16px 0px;
    width: 100%;
}
nav a:hover{
    border-bottom: 3px solid white;
}

.item {
    width: 50%;
    height: 100vh;
    overflow: hidden;
    background-color:cornflowerblue;
    float: left;
}

.janl{
    width: 50%;
    overflow: hidden;
     height: 100vh;
    background-color:blueviolet;
    float: left;
    }

.title > h2 {
    text-align: center;
    padding-top: 170px;
    color:white;
    font-size: 80px;
}
.icon {
     text-align: center;
}

.img{
    width: 300px;
}
